<div class="page_content_holder">
	
	<h2>About</h2><br/><br/>
	
	Ear Defender uses your recent <a href='http://last.fm'>Last.fm</a> scrobble history to suggest albums
	you might feel like listening to. Currently, the records suggested are those you often play
	
	<ul>
		<li>at the current time of the current day of the week.</li>
		<li>after the album you scrobbled most recently.</li>
	</ul>
	
</div><br/>