<div class="page_content_holder">
	
	<h2>About</h2><br/><br/>
	
	Ear Defender uses your recent <a href='http://last.fm'>last.fm</a> scrobble history to suggest albums
	you might feel like listening to. I'm still playing about with how it chooses albums to suggest.  
	
</div><br/>