<div class="page_content_holder">
	
	<h2>About</h2><br/><br/>
	
	Ear Defender uses your recent <a href='http://last.fm'>Last.fm</a> scrobble history to suggest albums
	you might feel like listening to. Currently, albums are suggested based upon:
	
	<ul>
		<li>Your most popular albums for the current time of the current day of the week.</li>
		<li>The albums you most often play after the most recently scrobbled album.</li>
	</ul>
	
</div><br/>