<div class="page_content_holder">
	
	<!-- show username form -->
	<% if !@suggestions %>
		<% form_tag do -%>
			<span class="last_fm_username_form_label">Last.fm username</span><br/>
			<input class="text_field" id="username" name="username" type="text" value="<%= @username %>"/>
			<%= submit_tag "Go", :class => 'submit_button', :onclick => "Element.show('time_warning');" %>
		<% end-%>
		<br/>
		<div id="time_warning" style="display:none;">
			First time will take 30 secs.
		</div>
		
	<!-- show listening suggestions -->
	<% else %>
		<% if (@suggestions && @suggestions.length > 0) || @next_albums && @next_albums.length > 0 %>
			<%= render(:partial => 'suggestions', :locals => { :suggestions => @suggestions, :albums_by_artist => @albums_by_artist } ) %>
			<br/>
			<%= render(:partial => 'suggestions', :locals => { :suggestions => @next_albums, :albums_by_artist => @next_albums_by_artist } ) %>
			<!-- Latest: <%#= @latest_scrobble.artist %> -->
		<% else %>
			No suggestions.<br/>
		<% end-%>
	<% end-%>
	
	<br/><br/><br/><br/>	
</div><br/>