<div class="page_content_holder">
	
	<!-- show username form -->
	<% if !@suggestions %>
		<% form_tag do -%>
			<span class="last_fm_username_form_label">Last.fm username</span><br/>
			<input class="text_field" id="username" name="username" type="text" value="<%= @username %>"/>
			<%= submit_tag "Go", :class => 'submit_button', :onclick => "Element.show('time_warning');" %>
		<% end-%>
		<br/>
		<div id="time_warning" style="display:none;">
			First time will take 30 secs.
		</div>
		
	<!-- show listening suggestions -->
	<% else %>
		<% if @suggestions && @suggestions.length > 0 %>
			<% for album in @albums_by_artist %>
				<strong><%= @suggestions[album]["artist"] %></strong>,
				<%= album %><br/>
			<% end-%>
		<% else %>
			Either you don't exist, or you haven't listened to much music.<br/>
		<% end-%>
	<% end-%>
	
	<br/><br/><br/><br/>
	
</div><br/>