<div class="page_content_holder">
	
	<!-- show username form -->
	<% if !@suggestions %>
		<br/>
		<% form_tag do -%>
		<span class="last_fm_username_form_label">Last.fm username</span><br/>
			<input class="text_field" name="username" type="text" value="<%= @username %>"/>
			<%= submit_tag "Go", :class => 'submit_button' %>
		<% end-%>
		<br/><br/>
		The first time will take about 30 seconds.
		
	<!-- show listening suggestions -->
	<% else %>
		<% if @suggestions && @suggestions.length > 0 %>
			<% for album in @albums_by_artist %>
				<strong><%= @suggestions[album]["artist"] %></strong>,
				<%= album %><br/>
			<% end-%>
		<% else %>
			Either you don't exist, or you haven't listened to much music.<br/>
		<% end-%>
	<% end-%>
	
	<br/><br/><br/><br/>
	
</div><br/>