<div class="page_content_holder">
	
	<!-- show username form -->
	<% if !@point_in_week_albums && !@seqencing_albums %>
		<% form_tag do -%>
			<span class="last_fm_username_form_label"><a href='http://last.fm'>Last.fm</a> username</span><br/>
			<input class="text_field" id="username" name="username" type="text" value="<%= @username %>"/>
			<%= submit_tag "Go", :class => 'submit_button', :onclick => "Element.show('time_warning');" %>
		<% end-%>
		<br/>
		<div id="time_warning" style="display:none;">
			First time will take 30 secs.
		</div>
		<br/>
		
	<!-- show listening suggestions -->
	<% else %>
		<% if (@point_in_week_albums && @point_in_week_albums.length > 0) || (@seqencing_albums && @seqencing_albums.length > 0) %>
			<%= render(:partial => 'albums', :locals => { :albums => @point_in_week_albums } ) %>
			<br/>
			<%= render(:partial => 'albums', :locals => { :albums => @seqencing_albums } ) %>
			<!-- Latest: <%#= @latest_scrobble.artist %> -->
		<% else %>
			No suggestions.<br/>
		<% end-%>
	<% end-%>
</div><br/>